<!DOCTYPE html>
<html>
<head>
{include file="public:header" /}
</head>
<body>
{include file="public:topbar" /}
<div class="container">
		<div class="list-empty"><span class="glyphicon glyphicon-wrench"></span>&nbsp;Developing……</div>

<!-- 	<div class="panel panel-info"> -->
<!-- 		<div class="panel-heading"> -->
<!-- 			<h4>机房列表&nbsp;<small>Machine</small></h4> -->
<!-- 		</div>		 -->
<!-- 		<div class="panel-body"> -->
<!-- 			<button type="button" title="添加机房" class="btn btn-info" data-toggle="modal" data-target="#addModal"> -->
<!-- 				<span class="glyphicon glyphicon-plus"></span> -->
<!-- 			</button> -->
<!-- 			&nbsp; -->
<!-- 			<button type="button" class="btn btn-default btn-refresh" title="刷新"> -->
<!-- 				<span class="glyphicon glyphicon-refresh"></span> -->
<!-- 			</button> -->
<!-- 		</div> -->
<!-- 		<div data-area="machine" class="panel-table"> -->
<!-- 		</div> -->
<!-- 	</div> -->
</div>
{include file="public:footer" /}
<script>
	var get_item = "{:url('index/course/item')}";
</script>
</body>
</html>