<!DOCTYPE html>
<html>
<head>
{include file="public:header" /}
</head>
<body>
{include file="public:topbar" /}
<div class="container">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h4>课程类型列表&nbsp;<small>Type</small></h4>
		</div>		
		<div class="panel-body">
			<button type="button" title="添加新类型" class="btn btn-info" data-toggle="modal" data-target="#addModal">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
			&nbsp;
			<button type="button" class="btn btn-default btn-refresh" title="刷新">
				<span class="glyphicon glyphicon-refresh"></span>
			</button>
		</div>
		<div data-area="type" class="panel-table">
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="addModalLabel"><span class="glyphicon glyphicon-tag"></span>&nbsp;添加课程类型</h4>
	      </div>
	      <form role="form" class="form-horizontal" action="{:url('index/type/add')}" method="POST">
	      <div class="modal-body">
	      	<div class="alert alert-warning" role="alert"><strong>注意！</strong>课程类型添加后不可删除，只能修改！</div>
			  <div class="form-group has-feedback">
			    <label for="inputName" class="col-sm-3 control-label">课程类型名称</label>
			    <div class="col-sm-8">
			    	<input type="text" class="form-control" name="name" id="inputName" placeholder="输入类型名称">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputDes" class="col-sm-3 control-label">描述</label>
			    <div class="col-sm-8">
			    	<input type="text" class="form-control" name="description" id="inputDes" placeholder="描述该课程类型">
			  	</div>
			  </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	        <button type="button" class="btn btn-primary btn-form-submit">保存</button>
	      </div>
		</form>
	    </div>
	  </div>
	</div>
</div>
<script>
	var get_item = "{:url('index/type/item')}";
</script>
{include file="public:footer" /}
</body>
</html>