		<!-- Table -->
		<table class="table table-bordered text-center table-responsive table-hover">
			<thead>
			</thead>
				<tr>
					<th>编号</th>
					<th>课程类型名称</th>
					<th>描述</th>
					<th>操作</th>
				</tr>
			<tbody>
{foreach $list as $item}
				<tr>
					<td>{$item.id}</td>
					<td>{$item.name}</td>
					<td>{$item.description}</td>
					<td>
						<button type="button" class="btn btn-sm btn-warning btn-mod-type" title="修改该类型"><span class="glyphicon glyphicon-pencil"></span></button>
					</td>
				</tr>
{/foreach}
			</tbody>
		</table>
{if condition="empty($list)"}
{include file="Public/list_empty"}
{/if}
<script>
	var mod_type = "{:url('index/Type/modify')}";
</script>
<script type="text/javascript" src="__STATIC__/js/type.js"></script>