		<!-- Table -->
{if condition="empty($term)"}
		<div class="list-empty">
			<span class="glyphicon glyphicon-warning-sign"></span>&nbsp;当前未设置学期
		</div>
{elseif condition="empty($list)"/}
<div class="alert alert-danger" role="alert"><strong>错误！</strong>这个表好像是空的</div>
{include file="public/list_empty" /}
{else /}
<div class="alert alert-info" role="alert">正在导入<strong>课程登记</strong>表，请保证表头列与预览的数据列内容相吻合
</div>
  <div class="form-group" style="margin-top: -15px;">
    <div class="col-xs-12">
      <div class="checkbox">
        <label>
          <input checked="checked" id="checkHasTitlePreview" type="checkbox"> 这个表格的第一行包含标题（标题行将不会被导入）
        </label>
      </div>
    </div>
  </div>
		<table class="table table-preview table-bordered text-center table-responsive table-hover">
			<thead>
				<tr class="bg-primary">
					<th><input type="checkbox" checked="checked" class="select-all" title="全选"/></th>
					<th>课程编号</th>
					<th>课程名</th>
					<th>上课周次</th>
					<th>时间（周几）</th>
					<th>节次</th>
				</tr>
			</thead>
			<tbody>
{foreach name="list" item="item" key="idx"}
				<tr data-id="{$idx}">
				<td><input type="checkbox" checked="checked"/></td>
{foreach $item as $cell}
					<td>{$cell}</td>
{/foreach}
				</tr>
{/foreach}
			</tbody>
		</table>
<script>
$(document).ready(function() {
	if($("#checkHasTitlePreview").get(0).checked) {
		if($("table.table-preview>tbody>tr").size() > 0) {
			$("table.table-preview>tbody>tr:first>td:first>input[type='checkbox']").get(0).checked = false;
			$("table.table-preview>tbody>tr:first").toggleClass('delete-line bg-warning').appendTo($("table.table-preview>thead"));
		}
	}
	$("#checkHasTitlePreview").click(function() {
		if($("table.table-preview>tbody>tr").size() < 1) {
			return true;
		}
		if($(this).get(0).checked) {
			$("table.table-preview>tbody>tr:first>td:first>input[type='checkbox']").get(0).checked = false;
			$("table.table-preview>tbody>tr:first").toggleClass('delete-line bg-warning').appendTo($("table.table-preview>thead"));
		} else {
			$("table.table-preview>thead>tr:last>td:first>input[type='checkbox']").get(0).checked = true;
			$("table.table-preview>thead>tr:last").toggleClass('delete-line bg-warning').prependTo($("table.table-preview>tbody"));
		}
	});
});
</script>
<script type="text/javascript" src="__STATIC__/js/table-select.js"></script>
{/if}