<!DOCTYPE html>
<html lang="zh-cn">
{include file="Public:header" /}
<body>
{include file="Public:topbar" /}
<div class="container">
{$alert_string|default=''}
	<div class="jumbotron">
		<h1>Welcome!</h1>
		<div class="row">
			<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
				<p>现在是&nbsp;{$data.time|default=time()|date='Y年m月d日',###}</p>
			</div>
			<div class="col-xs-4">
				<p><span class="label label-warning">星期{$rep_week[$_day]}</span></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
				<p><a href="{:url('index/Term/index','')}" title="修改学期">
{if condition=:isset($item)}
					{$item.year}-{$item.year+1}学年&nbsp;&nbsp;第{$item.term}学期
{else /}
					未设置当前学期
{/if}
				</a></p>
			</div>
{if condition=:isset($item)}
			<div class="col-xs-4">
				<p><span class="label label-success">
{if condition=:isset($_week)}
					第{$_week}周
{else /}
					未开学
{/if}
				</span></p>
			</div>
{/if}
		</div>
		<p><a class="btn btn-primary btn-lg" href="{:url('index/Table/index','')}" role="button">查看课表</a></p>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-6 col-md-3 col-sm-3">
					<a href="#" class="thumbnail">
						<img src="__STATIC__/img/img_01.png" alt="...">
					</a>
				</div>
				<div class="col-xs-6 col-md-3 col-sm-3">
					<a href="#" class="thumbnail">
						<img src="__STATIC__/img/img_02.jpg" alt="...">
					</a>
				</div>
				<div class="col-xs-6 col-md-3 col-sm-3">
					<a href="#" class="thumbnail">
						<img src="__STATIC__/img/img_03.jpg" alt="...">
					</a>
				</div>
				<div class="col-xs-6 col-md-3 col-sm-3">
					<a href="#" class="thumbnail">
						<img src="__STATIC__/img/img_04.jpg" alt="...">
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="callout callout-warning">
    <h4>向右侧对齐多个组件Right aligning multiple components</h4>
    <p>导航条目前不支持多个 <code>.navbar-right</code> 类。为了让内容之间有合适的空隙，我们为最后一个 <code>.navbar-right</code> 元素使用负边距（margin）。如果有多个元素使用这个类，它们的边距（margin）将不能按照你的预期正常展现。</p>
    <p>我们将在 v4 版本中重写这个组件时重新审视这个功能。</p>
  </div>
</div><!-- Container -->

{include file="Public:footer" /}
<script type="text/javascript">
$('.form_date').datetimepicker({
    language:  'zh-CN',
    weekStart: 1,
    todayBtn:  1,
	autoclose: 1,
	todayHighlight: 1,
	startView: 2,
	minView: 2,
	forceParse: 0
});
</script>
</body>
</html>