<!DOCTYPE html>
<html lang="zh-cn">
{include file="Public:header" /}
<body>
{include file="Public:topbar" /}
<div class="container">
{$alert_string|default=''}
	<div class="jumbotron">
		<h1>Welcome!</h1>
		<div class="row">
			<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
				<p>现在是&nbsp;{$data.time|default=time()|date='Y年m月d日',###}</p>
			</div>
			<div class="col-xs-4">
				<p><span class="label label-default">星期{$rep_week[$_day]}</span></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
				<p><a href="{:url('index/Term/index','')}" title="修改学期">
{if condition=:isset($item)}
					{$item.year}-{$item.year+1}学年&nbsp;&nbsp;第{$item.term}学期
{else /}
					未设置当前学期
{/if}
				</a></p>
			</div>
{if condition=:isset($_week)}
			<div class="col-xs-4">
				<p><span class="label label-default">第{$_week|default=1}周</span></p>
			</div>
{/if}
		</div>
		<p><a class="btn btn-primary btn-lg" href="{:url('index/Table/index','')}" role="button">查看课表</a></p>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-6 col-md-3 col-sm-3">
					<a href="#" class="thumbnail">
						<img src="__STATIC__/img/img_01.png" alt="...">
					</a>
				</div>
				<div class="col-xs-6 col-md-3 col-sm-3">
					<a href="#" class="thumbnail">
						<img src="__STATIC__/img/img_02.jpg" alt="...">
					</a>
				</div>
				<div class="col-xs-6 col-md-3 col-sm-3">
					<a href="#" class="thumbnail">
						<img src="__STATIC__/img/img_03.jpg" alt="...">
					</a>
				</div>
				<div class="col-xs-6 col-md-3 col-sm-3">
					<a href="#" class="thumbnail">
						<img src="__STATIC__/img/img_04.jpg" alt="...">
					</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="setStartModal" tabindex="-1" role="dialog" aria-labelledby="setStartModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="setStartModalLabel">设置起始周</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
		                <label for="dtp_input2" class=" control-label">选择第一周周一所在日：</label>
		                <div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
		                    <input class="form-control" size="16" type="text" value="" readonly>
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
		                </div>
	            	</div>
	
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
				</div>
			</div>
		</div>
	</div>
</div><!-- Container -->

{include file="Public:footer" /}
<script type="text/javascript">
$('.form_date').datetimepicker({
    language:  'zh-CN',
    weekStart: 1,
    todayBtn:  1,
	autoclose: 1,
	todayHighlight: 1,
	startView: 2,
	minView: 2,
	forceParse: 0
});
</script>
</body>
</html>