<!DOCTYPE html>
<html>
{include file="public:header" /}
<body>
{include file="public:topbar" /}
<div class="container-fluid">
{$alert|default=''}
	<div class="panel panel-{$seted?(empty($week)?'warning':'info'):'danger'}">
		<div class="panel-heading">
<nav aria-label="...">
  <ul class="pager" style="margin-top: 0px; margin-bottom: 0px;">
    <li id="week-prev" class="previous"><a href="javascript:void(0);"><span aria-hidden="true">&larr;</span> 上一周</a></li>
		<span id="span-week" class="label label-default" style="padding: .6em 1em;vertical-align: -webkit-baseline-middle;">
			第{$week|default='1'}周{$seted?(empty($week)?'（未开学）':''):'（未设置学期）'}
		</span>
    <li id="week-next" class="next"><a href="javascript:void(0);">下一周 <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
		
		</div>		
		<!-- Table -->
		<div class="panel-body">
			<button{$seted ?'':' disabled'} type="button" class="btn btn-success btn-table-to-pdf" title="导出本周课表到pdf文档">
				<span class="glyphicon glyphicon-export"></span>
			</button>
			&nbsp;
			<button type="button" class="btn btn-default btn-refresh" title="刷新">
				<span class="glyphicon glyphicon-refresh"></span>
			</button>
			
		</div>
		<div data-area="table" class="table-table">

		</div>
</div> <!-- Condainer -->
{include file="public:footer" /}
<script>
	var url_work = "{:url('index/table/working')}";
	var get_item = "{:url('index/table/item')}?week={$week|default='1'}";
	var week_idx = {$week|default=1};
	var base_url = "{:url('index/table/item')}";
</script>
<script type="text/javascript" src="__STATIC__/js/table.js"></script>
<script>
$(document).ready(function() {
	$(".btn-table-to-pdf").click(function() {
		window.open("{:url('index/login/pdf')}?week=" + week_idx);
	});
});
</script>
</body>
</html>