		<!-- Table -->
{if condition="empty($term)"}
		<div class="list-empty">
			<span class="glyphicon glyphicon-warning-sign"></span>&nbsp;当前未设置学期
		</div>
{else /}
<div class="panel panel-default" style="margin-left: 15px;margin-right: 15px;">
  <div class="panel-body">

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
{foreach name="weeks" item="wk" key="k"}
    <li role="presentation" class="{$k>0?'col-md-offset-1':''} {$k==$act_wk?'active':''}"><a href="#{$ids[$k]}" aria-controls="{$ids[$k]}" role="tab" data-toggle="tab">{$wk}</a></li>
{/foreach}
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
{foreach name="weeks" item="wk" key="k"}
    <div role="tabpanel" class="tab-pane {$k==$act_wk?'active':''}" id="{$ids[$k]}">
    	<table class="table table-bordered text-center table-responsive table-hover">
			<tbody>
{foreach $list[$k] as $row}
				<tr>
	{foreach name="row" item="item" key="ki"}
					<td>
						{$item['name']}<br/>
						<a class="cls-view" data-move="{$item['rm']}" data-id="{$item['csid']}" data-self-id="{$item['id']}" href="javascript:void(0)">{$item['cls']}</a>
					</td>
	{/foreach}
				</tr>
{/foreach}
			</tbody>
		</table>
    </div>
{/foreach}
  </div>

</div>
  </div>
</div>
{/if}
<script>
$(document).ready(function() {
	function showErrorAlert(title, content) {
		$.alert({
			keyboardEnabled: true,
			backgroundDismiss: true,
			icon: 'glyphicon glyphicon-remove-circle',
			title: title,
			content: content,
			type: 'red',
			buttons: {
				确定: {
					btnClass: 'btn btn-danger',
				},
			},
		});
	}
	$(".cls-view").click(function() {
		var _csid = $(this).attr('data-id');
		var _btn_cls = $(this).attr('data-move');
		var _sf_id = $(this).attr('data-self-id');
		var _url = "{:url('index/course/details')}";
		$.ajax({
			url: _url,
			type: "POST",
			data: "code=" + _csid,
			success: function(data) {
				$.alert({
					keyboardEnabled: true,
					backgroundDismiss: true,
					icon: 'glyphicon glyphicon-eye-open',
					title: '详细信息',
					content: data,
					type: 'blue',
					buttons: {
						迁移: {
							btnClass: 'btn btn-danger ' + _btn_cls,
							action: function() {
								$.alert({
									keyboardEnabled: true,
									backgroundDismiss: true,
									icon: 'glyphicon glyphicon-share-alt',
									title: '迁移',
									content: "url:{:url('index/table/move')}?id=" + _sf_id,
									type: 'orange',
									columnClass: 'col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3',
									buttons: {
										执行: {
											btnClass: 'btn btn-danger',
											action: function() {
												var _url_fm = $("#form-move").attr('data-action');
												var _dat = $("#form-move").serialize();
												$.ajax({
													url: _url_fm,
													type: "POST",
													data: _dat,
													success: function(data) {
														if(data.success) {
															$.alert({
																keyboardEnabled: true,
																backgroundDismiss: true,
																icon: 'glyphicon glyphicon-ok',
																title: '成功',
																content: data.msg,
																type: 'green',
																buttons: {
																	确定: {
																		btnClass: 'btn btn-success',
																	},
																},
															});
														} else {
															showErrorAlert('错误', data.msg);
														}
													},
													error: function() {
														showErrorAlert('错误', '请求失败，请重试！');
													}
												});
											},
										},
									},
								});
							},
						},
						完成: {
							btnClass: 'btn btn-primary',
						},
					},
				});
			},
			error: function() {
				showErrorAlert('错误', '请求失败，请重试！');
			}
		});
	});
});
</script>