		<!-- Table -->
{if condition="empty($term)"}
		<div class="list-empty">
			<span class="glyphicon glyphicon-warning-sign"></span>&nbsp;当前未设置学期
		</div>
{elseif condition="empty($list)"/}
{include file="public/list_empty" /}
{else /}
		<table class="table table-bordered text-center table-responsive table-hover">
			<thead>
				<tr>	
					<th>课程号</th>
					<th>原上课周</th>
					<th>原上课日</th>
					<th>原节次</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
{foreach $list as $item}
				<tr data-id="{$item.id}">
					<td>{$item.course}</td>
					<td>{$item.week}</td>
					<td>{$item.day}</td>
					<td>{$item.section}</td>
					<td>
						<button type="button" class="btn btn-sm btn-success btn-del btn-do-mutex" title="安排"><span class="glyphicon glyphicon-pushpin"></span></button>
					</td>
				</tr>
{/foreach}
			</tbody>
		</table>
{/if}
<script>
$(document).ready(function(){
	function showErrorAlert(title, content) {
		$.alert({
			keyboardEnabled: true,
			backgroundDismiss: true,
			icon: 'glyphicon glyphicon-remove-circle',
			title: title,
			content: content,
			type: 'red',
			buttons: {
				确定: {
					btnClass: 'btn btn-danger',
				},
			},
		});
	}
	$(".btn-do-mutex").click(function() {
		var _sf_id = $(this).parent().parent().attr("data-id");
		$.alert({
			keyboardEnabled: true,
			backgroundDismiss: true,
			icon: 'glyphicon glyphicon-share-alt',
			title: '安排',
			content: "url:{:url('index/table/move2')}?id=" + _sf_id,
			type: 'green',
			columnClass: 'col-md-12',
			buttons: {
				取消: {
					btnClass: 'btn btn-default',
				},
				安排: {
					btnClass: 'btn btn-success',
					action: function() {
						var select_date_id = $("#move-date-area").attr("data-id");
						if(select_date_id == "") {
							showErrorAlert("错误", "未选择安排位置");
							return false;
						}
						var select_date = $("#move-date-area").html();
						var select_idx = $("#move-idx-area").html();
						var date_sps = select_date_id.split("-");
						$.confirm({
							type: 'green',
							icon: 'glyphicon glyphicon-question-sign',
							title: '安排课程',
							content: '确定要将课程安排至'+select_date+'的'+select_idx+'机房吗？',
							buttons: {
								取消: {
									btnClass: "btn btn-default",
								},
								确定: {
									btnClass: "btn btn-success",
									action: function() {
										var _mac_list = "";
										$("#move-idx-area span.selector-cell").each(function(){
											_mac_list += "," + $(this).attr("data-id");
										});
										var _dat = {
											id: _sf_id,
											week: date_sps[0],
											day: date_sps[1],
											section: date_sps[2],
											mac: _mac_list.substr(1),
										};
										$.ajax({
											url: "{:url('index/table/domove')}",
											type: "POST",
											data: _dat,
											success: function(data) {
												if(data.success) {
													$.alert({
														keyboardEnabled: true,
														backgroundDismiss: true,
														icon: 'glyphicon glyphicon-ok',
														title: '成功',
														content: data.msg,
														type: 'green',
														buttons: {
															确定: {
																btnClass: 'btn btn-success',
																action: function() {
																	location.reload();
																}
															},
														},
													});
												} else {
													showErrorAlert('错误', data.msg);
												}
											},
											error: function() {
												showErrorAlert('错误', '请求失败，请重试！');
											}
										});
									},
								}
							}
						});
						return false;
					},
				},
			},
		});
	});
});
</script>