<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
{include file="public/header"}
</head>
<body>
<div class="container">
	<div class="" role="tooltip" style="width:25%">
		<div class="arrow"></div>
		<h3 class="popover-title">Title</h3>
		<div class="popover-content">
		
			Content
		</div>
		<hr/>
		<div class="popover-footer">
			<button class="btn btn-sm btn-default">取消</button>
			<button class="btn btn-sm btn-danger">确定</button>
		</div>
	</div>
</div>
{include file="public/footer"}
</body>
</html>