<footer class="footer">
  <div class="container">
    <div class="text-center">
     Copyright © 2016-2017&nbsp;
     <strong><a href="http://www.sdut.edu.cn/" target="_blank">SDUT</a></strong>&nbsp;
     All Rights Reserved.
   </div>
  </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="__STATIC__/js/jquery-1.12.2.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="__STATIC__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="__STATIC__/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript" src="__STATIC__/js/jquery-confirm.min.js"></script>
<script src="__STATIC__/js/main.js"></script>
<script>
$(document).ready(function() {
	$.ajax({
		url: "{:url('index/index/topweek')}",
		type: "GET",
		success: function(data) {
			$("#top-week").html(data);
		},
	});
});
</script>