<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{:url('index/index/index')}">
				<span class="glyphicon glyphicon-th" aria-hidden="true"></span> 排课系统<sup> 1.0 Beta</sup>
			</a>
		</div>
			
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">课表 <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{:url('index/table/index')}">总览</a></li>
						<li class="divider"></li>
						<li><a href="{:url('index/rule/index')}">排课规则</a></li>
						<li><a href="#">管理</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">学期与课程 <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{:url('index/term/index')}">学期管理</a></li>
						<li class="divider"></li>
						<li><a href="{:url('index/course/index')}">课程管理</a></li>
						<li><a href="{:url('index/plan/index')}">上课时间管理</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">固定数据 <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{:url('index/machine/index')}">机房管理</a></li>
						<li class="divider"></li>
						<li><a href="{:url('index/type/index')}">机房/课程类型管理</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">日志 <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{:url('index/logs/index')}">查看日志</a></li>
						<li class="divider"></li>
						<li><a href="{:url('index/resource/debug')}">Debug Page</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-user="{:session('user','')}">管理员 <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li class="disabled usr-info"><a href="javascript:void(0);"><span class="glyphicon glyphicon-user"></span>&nbsp;{:session('name','')}&nbsp;({:session('user','')})</a></li>
						<li class="divider"></li>
						<li><a href="javascript:void(0);" data-url="{:url('index/login/modify')}" id="tb-mod-passwd"><span class="glyphicon glyphicon-lock"></span>&nbsp;修改密码</a></li>
						<li><a href="javascript:void(0);" data-url="{:url('index/login/out')}" id="tb-logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;退出</a></li>
					</ul>
				</li>
				<li><a href="javascript:void(0);" id="btn-about-modal" data-toggle="modal" data-target="#aboutModal">关于</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
<div class="btn btn-return-top dn" title="返回顶部"><span class="glyphicon glyphicon-chevron-up"></span></div>
	
<!-- Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;关于本系统</h4>
			</div>
			<div class="modal-body" id="about-modal" data-url="{:url('index/resource/about')}">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
			</div>
		</div>
	</div>
</div>