<!DOCTYPE html>
<html>
<head>
{include file="public:header" /}
</head>
<body>
{include file="public:topbar" /}
<div class="container">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h4>机房列表&nbsp;<small>Machine</small></h4>
		</div>		
		<div class="panel-body">
			<button type="button" title="添加机房" class="btn btn-info" data-toggle="modal" data-target="#addModal">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
			&nbsp;
			<button type="button" title="删除选中项" class="btn btn-danger btn-delete-select" data-table="machine" data-url="{:url('index/machine/muldel')}">
				<span class="glyphicon glyphicon-trash"></span>
			</button>
			&nbsp;
			<button type="button" class="btn btn-default btn-refresh" title="刷新">
				<span class="glyphicon glyphicon-refresh"></span>
			</button>
		</div>
		<div data-area="machine" class="panel-table">
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="addModalLabel"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;添加机房</h4>
	      </div>
	      <form role="form" class="form-horizontal" action="{:url('index/machine/add','')}" method="POST">
	      <div class="modal-body">
			  <div class="form-group has-feedback">
			    <label for="inputName" class="col-sm-2 control-label">机房号</label>
			    <div class="col-sm-10">
			    	<input type="text" class="form-control" name="name" id="inputName" placeholder="数字编号+分区，如3A">
			    </div>
			  </div>
			  <div class="form-group has-feedback">
			    <label for="inputNo" class="col-sm-2 control-label">预约编号</label>
			    <div class="col-sm-10">
			    	<input type="number" class="form-control" name="no" id="inputNo" placeholder="机房预约编号">
			  	</div>
			  </div>
			  <div class="form-group has-feedback">
			    <label for="inputMac" class="col-sm-2 control-label">机器数量</label>
			    <div class="col-sm-10">
			    	<input type="number" class="form-control" name="mac" id="inputMac" placeholder="输入机器数量">
			    </div>
			  </div>
			  <div class="form-group has-feedback">
			    <label for="inputType" class="col-sm-2 col-xs-12 control-label">课程类型</label>
			    <div class="col-sm-8 col-xs-8">
			    	<select class="form-control" name="type" id="inputType">
{foreach $types as $ti}
			    		<option value="{$ti.id}" title="{$ti.description}">{$ti.name}</option>
{/foreach}
			    	</select>
			    </div>
			    <div class="col-sm-2 col-xs-4">
				    <a class="btn btn-default" href="{:url('index/type/index','')}" title="管理课程类型">管理</a>
			    </div>
			  </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	        <button type="button" class="btn btn-primary btn-form-submit">保存</button>
	      </div>
		</form>
	    </div>
	  </div>
	</div>
</div>
{include file="public:footer" /}
<script>
	var get_item = "{:url('index/machine/item')}";
</script>
</body>
</html>