		<!-- Table -->
{if condition="empty($list)"}
{include file="public/list_empty"}
{else /}
		<table class="table table-bordered text-center table-responsive table-hover">
			<thead>
			</thead>
				<tr>
					<th>机房号</th>
					<th>预约编号</th>
					<th>机器数量</th>
					<th>课程类型</th>
					<th>操作</th>
				</tr>
			<tbody>
{foreach $list as $item}
				<tr data-id="{$item.id}">
					<td><span class="label label-default">{$item.name}</span></td>
					<td>{$item.no}</td>
					<td>{$item.mac}</td>
					<td>{$item.tName}</td>
					<td>
						<button type="button" class="btn btn-sm btn-warning btn-mod-machine" title="修改机房"><span class="glyphicon glyphicon-pencil"></span></button> 
						<button type="button" class="btn btn-sm btn-danger btn-del-machine" title="删除机房"><span class="glyphicon glyphicon-trash"></span></button>
					</td>
				</tr>
{/foreach}
			</tbody>
		</table>
{/if}
<script>
	var mod_machine = "{:url('index/machine/modify')}";
	var del_machine = "{:url('index/machine/del')}";
	var type_list = new Array(
{foreach name="types" item="t" key="k"}
{if condition="$k neq 0"},{/if}{id: {$t.id}, des: "{$t.description}", name: "{$t.name}"}
{/foreach}
	);
</script>
<script type="text/javascript" src="__STATIC__/js/machine.js"></script>